.btn:focus {
  outline: none !important;
}
.btn:focus {
  box-shadow: none;
}
.hero {
  background: linear-gradient(180deg, #bbefff 0%, #ddf7ff 100%);
  position: relative;
  padding: 180px 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.cloud {
  height: 150px;
  background-size: contain;
  background-repeat: repeat-x;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  animation-name: cloudsmove;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.rainbox {
  width: 80%;
  position: absolute;
  right: -575px;
  top: 16rem;
  animation-name: floating-ball-model-3;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: floating-ball-model-3;
  -webkit-animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: floating-ball-model-3;
  -moz-animation-duration: 7s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: floating-ball-model-3;
  -ms-animation-duration: 7s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: floating-ball-model-3;
  -o-animation-duration: 7s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}
@keyframes cloudsmove {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 3000px;
  }
}

@keyframes floating-ball-model-3 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.herocol {
  z-index: 999;
  justify-content: right;
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .herocol {
    justify-content: center;
    padding: 0;
  }
}

.dusk {
  z-index: 99999999;
  display: flex;
  width: 70%;
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .dusk {
    width: 90%;
  }
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 50px;
}

.subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */

  color: #000000;
}

.colcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
}
.btncontainer {
  display: flex;
}
.qtycontrols {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 154px;
  height: 50px;

  margin-right: 15px;
  background: #ffffff;
  border-radius: 40px;
}

.qtycontrols .btn {
  font-weight: 300;
  font-size: 31px;
}

.herobtn {
  padding: 15px;
  background: #000000;
  border-radius: 72px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
}
.bluebtn {
  color: #4200ff;
}

.herobtn2 {
  padding: 15px;
  text-transform: uppercase;
  color: white;
  background: #4200ff;
  border: none;
  border-radius: 72px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
}

.herobtn2:hover {
  background: #1b8fdd;
}

.btncontainer {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .hero .row {
    margin-top: 100px;
  }

  .hero {
    padding: 25px;
  }

  .title {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
  }

  .subtitle {
    text-align: center;
  }
  .herobtn {
    font-size: 16px;
  }

  .herobtn2 {
    font-size: 16px;
  }

  .btncontainer {
    display: flex;
    justify-content: center;
  }

  .colcenter {
    z-index: 999;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1180px;
  }
}

.presale-badge {
  width: 152px;
  height: 32px;
  /* left: 145px; */
  /* top: 306px; */
  background: #84ffc2;
  border-radius: 56px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #4200ff;
}
